$primary-color-light: #2a213a;
$primary-color-dark : #170f23;
$primary-color: #432275;

$hover-background:  #170f236e;
$hover-background-secondary:  #432275b6;

$black : #120c1c;

$text-primary : #fff;
$text-secondary : rgba(255, 255, 255, 0.603);

$player-control-height: 100px;
$header-height: 80px;

$smooth : all 0.3s ease-in-out;