@import '../variable';

.wrapper{
    width: 100%;

}

.header{
    display: flex;
    width: 100%;
    padding: 20px 20px;
    height: $header-height;

    align-items: center;
    justify-content: space-between;

    .search{
        width: 350px;
        padding: 0 10px;

        display: flex;
        align-items: center;

        background-color: $primary-color-light;

        border-radius: 25px;
        
        cursor: pointer;


        & > input{
            width: 100%;
            background-color: transparent;
            color: $text-primary;
            padding: 10px 15px;
            font-size: 16px;
        }
        & svg{
            font-size: 30px;
            cursor: pointer;
            transition: --smooth;

            &:hover{
                color: $text-secondary;
                transition: --smooth;
            }
        }
    }
    
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: auto;

        & > svg{
            margin-right: 10px;
            cursor: pointer;
            transition: --smooth;

            &:hover{
                color: $text-secondary;
                transition: --smooth;
            }
        }
    }
}

.avatarImg{
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}